name: CI

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  build:
    timeout-minutes: 20
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 6
      matrix:
        os: [ 'ubuntu-latest', 'macos-latest' ,'windows-latest' ]
        python: [ 3.9, '3.10' ]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install python dependencies
        run: python -m pip install -U pip nox
      - name: Lint
        run: nox -s lint
        if: matrix.os == 'ubuntu-latest' && matrix.python == '3.10'
      - name: Tests
        run: nox -s tests-${{ matrix.python }}
        env:
          CODECOV_TOKEN: ${{ secrets.codecov_token }}
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2.1.0
        if: matrix.python == '3.10'
